body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.navbar {
    width: 100%;
    text-align: center;
    padding: 18px 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);
    font-size: 24px;
    font-weight: bold;
}

.container {
    margin-top: 70px;
    background: rgba(255, 255, 255, 0.12);
    padding: 40px 50px;
    backdrop-filter: blur(15px);
    border-radius: 14px;
    width: 350px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    text-align: center;
}

button {
    width: 260px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(135deg, #7b2ff7, #00c6ff);
    margin: 10px 0;
}
