body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h2, p {
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(15px);
    padding: 20px 40px;
    border-radius: 14px;
}
